
.banner {

height: 150px;
background-color: red
}

.body {
background-color: rgb(255, 235, 52);
   
}

.font-weight-bold{
    font-size: 50px;
    position: relative;
   left: 300px;
   bottom: 30px;

}

.banner2{
    height: 200px;
    width: 1000px;
    position: relative;
    left: 80px;

    background-image: url(banner2.png);

}

.card {
    border-style: groove;
    width: 558px;
    position: relative;
    bottom: 16px;
    right: 31px;
    top: 30px;
}

.font-weight-bolder{
    background-color: white;
    font-size: 30px;


}

.medio {
    background-color: red;
   width: 560px;
   position: relative;
   left: 370px;
}

.titulo{
    color: white;
   justify-content: center;