.for {
    position: relative;
    width: 500px;
height: 500px;

 }

 .form-check-input{
     position: relative;
     left: 50px;
     top: 40px;
 }

 .form-check-label{
     position: relative;
     left: 50px;
     top: 60px;
 }

.ban {

    background-color: rgb(241, 241, 46);
}

.planes {

  height: 350px;
  background-color: rgb(223, 39, 39);
}