.for {
    position: relative;
    width: 500px;
height: 500px;

 }

 .form-check-input{
     position: relative;
     left: 50px;
     top: 40px;
 }

 .form-check-label{
     position: relative;
     left: 50px;
     top: 40px;
 }